{{> heaad }}
<body>
   {{!--  подключение partials --}}
    {{>navbar}}
    
    <div class="container">
       {{!--  укажем то место куда надо рендерить 'тело' каких либо элементов через спец-слово --}}
    {{{ body }}}
    </div>

{{> footer}}
</body>
</html>